<div class="container" style="background-color: rgb(127, 127, 127);">
    <aside class="sidebar">
      <nav class="nav">
          <button>
              <button mat-icon-button (click)="openProfileModal()">
                  <img src="assets/profile.jpg" alt="Profile" class="profile-icon">
                </button>
          </button>
          <button>
              <a href="">Test</a>
          </button>
          <button>
              <a href="">Test</a>
          </button>
          <button (click)="logout()">
              Logout
          </button>
      </nav>
    </aside>
    <main class="content">
      <div>Test</div>
      <div>Test</div>
      <div>Sets</div>
      <div>Tsetse</div>
    </main>
  </div>
  